---
version: '3'

services:
  periscope:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
     - 8080:8080
    environment:
     - PERISCOPE_SERVICEPATTERN=snap*
    volumes:
     - /var/run/dbus:/var/run/dbus
     - /run/systemd/private:/run/systemd/private
     - /var/log/journal:/var/log/journal
     - /run/log/journal:/run/log/journal
     - /etc/machine-id:/etc/machine-id
